@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.top{
    background-color: rgba(219, 183, 225, 0.816);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    font-family: 'GangwonEdu_OTFBoldA';
}


.topmenu{
    padding: 20px;
}

a{
    text-decoration-line: none;
}

.info{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(194, 220, 180, 0.816);
}

.infoimg{
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 150px;
    height: 150px;

    border-radius:70%;

    float: left;
}

.infoword{
    background-color: rgba(255, 255, 255, 0.816);
    /* border: 1px solid black; */
    padding: 30px;
    
    border-radius:50%;

    
    font-family: 'GangwonEdu_OTFBoldA';
    

    float: left;
}

.contact{
    font-family: 'GangwonEdu_OTFBoldA';
    
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(175, 205, 223, 0.816);

    padding: 20px;
}


.lists{
    text-align: center;
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
  
  
    float: left;
    margin-right: 40px;
}

.pic{
    font-family: 'GangwonEdu_OTFBoldA';

    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 205, 205, 0.816);
    
    padding: 30px;
}


.picimg{
   
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    
    justify-content: center;
    align-items: center;
  
}
